{% extends 'base.html' %}

{% block container %}
  <div class="container">
        <div class="row">
            <div class="col-md-6">
             <div class="panel panel-default">
                <form action="" method="POST">
                    {% csrf_token %}
                <div class="form-group">
                <label >User Name</label>
                <input type="text" name="user" class="form-control" required>
                </div>
                <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" name="password" id="pwd" required>
               </div>

               <button type="submit" class="btn btn-primary">Login</button>
              </form>
                 <a href ="">Forgot password ?</a>
             </div>
        </div>
        </div>
    </div>

{% endblock container %}