{% extends 'base.html' %}

{% block container %}
{% load crispy_forms_tags %}
<div class="container">

    <div class="card mb-8">
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}

                <div class="col-6">
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.last_name|as_crispy_field }}
                </div>

                <div class="col-6">
                    {{ form.email|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.password1|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.password2|as_crispy_field }}
                </div>

                <button type="submit" class="btn btn-success">Create User</button>
            </form>

        </div>

    </div>



</div>
{% endblock container %}